.img-row {
  height: 100%;
  display: flex;
}

.img-thumb {
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  cursor: pointer;

  img {
    border: 1px solid transparent;
    width: 100%;
  }

  &.selected {
    img {
      border-color: red;
    }
  }
}