.sidebar {
  background: #fff;
  border-right: 1px solid #ddd;
  padding: 15px; }

.img-row {
  height: 100%;
  display: flex; }

.img-thumb {
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  cursor: pointer; }
  .img-thumb img {
    border: 1px solid transparent;
    width: 100%; }
  .img-thumb.selected img {
    border-color: red; }

html, body {
  height: 100%; }

body, #root, .root-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  overflow: auto; }

.main-app-container {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
  overflow: auto; }
  .main-app-container .main-app-nav {
    flex-grow: 0;
    min-width: 300px;
    max-width: 300px;
    overflow: auto; }
  .main-app-container .workspace-wrapper {
    flex-grow: 2;
    overflow: auto; }

/*# sourceMappingURL=main.css.map */
