@import "sidebar";
@import "image";

html, body {
  height: 100%;
}

body, #root, .root-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;

  overflow: auto;
}

.main-app-container {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;

  overflow: auto;

  .main-app-nav {
    flex-grow: 0;
    min-width: 300px;
    max-width: 300px;
    overflow: auto;
  }
  .workspace-wrapper {
    flex-grow: 2;
    overflow: auto;
  }
}